<h1>Listing talks</h1>

<table>
  <tr>
    <th>토크</th>
    <th>토크자</th>
  </tr>

<% @talks.each do |talk| %>
  <tr>
<!--    <td><%= talk.content %></td>  -->
    <td><%= link_to talk.content, talk %></td> 
    <td><%= talk.user %></td>
<!--    <td><%= link_to 'Show', talk %></td> -->
<!--    <td><%= link_to 'Edit', edit_talk_path(talk) %></td> -->
    <td><%= link_to 'Destroy', talk, :confirm => 'Are you sure?', :method => :delete %></td> 
  </tr>
<% end %>
</table>

<br />

<%= render 'form' %>
<!-- <%= link_to 'New Talk', new_talk_path %> -->
